{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
  
    <h1 class="display-4">Kenalin, Darma.</h1>
    <p class="lead">Darma ialah sebuah layanan chatbot yang dikhususkan untuk membantu mahasiswa di Universitas Gunadarma dalam mencari
        jawaban dari pertanyaan yang muncul mengenai perkuliahan
    </p>
    <hr class="my-4">
    
    <p class="lead"> 
        <u>Asal Muasal Darma</u>
    </p>
    <p>Darma muncul dari permasalahan mahasiswa Universitas Gunadarma yang masih suka bingung mencari jawaban
        tentang hidupnya di perkuliahan. Biasanya karena mereka belum tau harus cari jawaban kemana dan darimana, 
        jadinya mereka suka ketinggalan informasi penting. 
    </p>
    <p class="lead"> 
       <u>Kenapa Darma bisa dipercaya?</u> 
    </p>
    <p>
        Darma mengumpulkan jawaban-jawaban bukan dari sembarang sumber lho, karena jawaban-jawabannya diambil dari
        situs web resmi yang dibuat oleh Universitas Gunadarma. Tapi ya walau begitu Darma akan terus belajar, supaya kalian 
        dapet jawaban yang memuaskan.</p>
    <p class="lead"> <u> Nah, itu ada sumbernya, jelas dan bisa diakses juga sama mahasiswa.
        kenapa harus ada Darma?</u>
    </p>
       <p> Jadi, darma itu membantu kalian, mahasiswa-mahasiswa yang kadang suka ketinggalan informasi di grup
        kelas atau situs web seperti BAAK atau Studentsite. Mungkin juga kalian gatau harus masuk ke situs apa, 
        disinilah peran Darma, yaitu membantu mahasiswa dalam mencari informasi tentang perkuliahannya di 
        Universitas Gunadarma. Nah, penjelasan diatas udah cukup jelas yaa, jadi Darma 
        ga dimaksudkan untuk menggantikan fungsi dari situs web Universitas Gunadarma yang ada. 
    </p>
    <p class="lead">
     <u> Daftar situs web yang dipelajari Darma</u>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Situs</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="https://www.gunadarma.ac.id/">Situs Web Gunadarma</a></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
        
            <td><a href="http://staffsite.gunadarma.ac.id/">UG Staff Site</a></td>
            
          </tr>
          <tr>
            <th scope="row">3</th>

            <td><a href="https://studentsite.gunadarma.ac.id/">UG Student Site</a></td>
            
          </tr>
          <tr>
            <th scope="row">4</th>

            <td><a href="https://baak.gunadarma.ac.id/">BAAK</a></td>
            
          </tr>
          <tr>
            <th scope="row">5</th>

            <td><a href="https://v-class.gunadarma.ac.id/">Virtual Class</a></td>
            
          </tr>
          <tr>
            <th scope="row">6</th>

            <td><a href="https://library.gunadarma.ac.id/">Library</a></td>
            
          </tr>
          <tr>
            <th scope="row">7</th>

            <td><a href="https://sap.gunadarma.ac.id/">SAP</a></td>
            
          </tr>
          <tr>
            <th scope="row">8</th>

            <td><a href="http://ugpedia.gunadarma.ac.id/category/54/baak.html">UGPEDIA / FAQ BAAK</a></td>
            
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><a href="https://kemahasiswaan.gunadarma.ac.id/">KEMAHASISWAAN</a> </td>
            
          </tr>
          
        </tbody>
      </table>

    </p>
    <p class="lead"> 
       <u> Harapan Darma</u>
    </p>
    <p>
       Seperti yang kalian tau, kalau Darma disini senang sekali membantu kalian selama berkuliah. Semoga informasi yang 
       Darma berikan ke kalian akan memberikan pencerahan dan melancarkan proses kalian selama menimba ilmu di Universitas Gunadarma!
    </p>
</div>
{% endblock content %}