{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Kenalin, Mas Darma.</h1>
    <p class="lead">Mas Darma ialah sebuah layanan chatbot yang dikhususkan untuk membantu mahasiswa di Universitas Gunadarma dalam mencari
        jawaban dari pertanyaan yang muncul mengenai perkuliahan
    </p>
    <hr class="my-4">
    
    <p class="lead"> 
        <u>Asal Muasal Mas Darma</u>
    </p>
    <p>Mas Darma muncul dari permasalahan mahasiswa Universitas Gunadarma yang masih suka bingung mencari jawaban
        tentang hidupnya di perkuliahan. Biasanya karena mereka belum tau harus cari jawaban kemana dan darimana, 
        jadinya mereka suka ketinggalan informasi penting. 
    </p>
    <p class="lead"> 
       <u>Kenapa Mas Darma bisa dipercaya?</u> 
    </p>
    <p>
        Mas Darma mengumpulkan jawaban-jawaban bukan dari sembarang sumber lho, karena jawaban-jawabannya diambil dari
        situs web resmi yang dibuat oleh Universitas Gunadarma. Tapi ya walau begitu Mas Darma akan terus belajar, supaya kalian 
        dapet jawaban yang memuaskan.</p>
    <p class="lead"> <u> Nah, itu ada sumbernya, jelas dan bisa diakses juga sama mahasiswa.
        kenapa harus ada Mas Darma?</u>
    </p>
       <p> Jadi, Mas darma itu membantu kalian, mahasiswa-mahasiswa yang kadang suka ketinggalan informasi di grup
        kelas atau situs web seperti BAAK atau Studentsite. Mungkin juga kalian gatau harus masuk ke situs apa, 
        disinilah peran Mas Darma, yaitu membantu mahasiswa dalam mencari informasi tentang perkuliahannya di 
        Universitas Gunadarma. Nah, penjelasan diatas udah cukup jelas yaa, jadi Mas Darma 
        ga dimaksudkan untuk menggantikan fungsi dari situs web Universitas Gunadarma yang ada. 
    </p>
    <p class="lead">
     <u> Daftar situs web yang dipelajari Mas Darma</u>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Situs</th>
            <th scope="col">Alamat URL</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Situs Web Gunadarma</td>
            <td><a href="https://www.gunadarma.ac.id/">https://www.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>UG Staff Site</td>
            <td><a href="http://staffsite.gunadarma.ac.id/">http://staffsite.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>UG Student Site</td>
            <td><a href="https://studentsite.gunadarma.ac.id/">https://studentsite.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>BAAK </td>
            <td><a href="https://baak.gunadarma.ac.id/">https://baak.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Virtual Class</td>
            <td><a href="https://v-class.gunadarma.ac.id/">https://v-class.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Library</td>
            <td><a href="https://library.gunadarma.ac.id/">https://library.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>SAP</td>
            <td><a href="https://sap.gunadarma.ac.id/">https://sap.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>FIKTI</td>
            <td><a href="http://fikti.gunadarma.ac.id/">http://fikti.gunadarma.ac.id/</a></td>
            
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>FE</td>
            <td><a href="https://fe.gunadarma.ac.id/">https://fe.gunadarma.ac.id/</a> </td>
            
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>FTI</td>
            <td><a href="http://fti.gunadarma.ac.id/">http://fti.gunadarma.ac.id/</a> </td>
            
          </tr>
        </tbody>
      </table>

    </p>
    <p class="lead"> 
       <u> Harapan Mas Darma</u>
    </p>
    <p>
        Seperti yang kalian tau, kalau Mas Darma disini senang sekali membantu kalian selama berkuliah. Semoga informasi yang 
        Mas Darma berikan ke kalian akan memberikan pencerahan dan melancarkan proses kalian selama menimba ilmu di Universitas Gunadarma!
    </p>
  </div>
</div>
{% endblock content %}