{% extends 'base.html' %}
{% load static%}
{% block content %}
<style>
  .chat-container {
    
    height:65%; 
    width:65%;
    position:relative;
    margin-left: auto;
    margin-right: auto;

}
input[type=text] {
  width:100%;
}
</style>
        <div class="chat-container"></div>
      
        <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
        <script type="text/javascript">
          var chatroom = new window.Chatroom({
            host: "http://localhost:5005",
            title: "Darma",
            container: document.querySelector(".chat-container"),
            welcomeMessage: "Hey, selamat datang! Saya Darma, ada yang bisa saya bantu?"
          });
          chatroom.openChat();
        </script>


{% endblock content %}
      