{% extends 'base.html' %}
{% load static%}
{% block content %}

<style>
    .img {
        
        height:250px; 
        width:250px;
        margin-top: 50px;
        margin-left: 70px;
    }
</style>

    <div class="container">
        <br>
            <br>
        <div class="row">
            <div class="col">
                
                <div class="landing-page">

                    <h2><b>SELAMAT DATANG</b></h2>
                    <br> 
                    
                    <h6 font-size:5vw;>
                        Disini kamu bisa mengobrol dengan Darma seputar perkuliahan dimanapun dan kapanpun. Darma 
                        menjawab pertanyaanmu yang bersumber dari macam-macam situs web resmi Universitas Gunadarma. 
                        Semoga Darma bisa membantu menjawab kebingunganmu ya!</h5>
                        
                       
                    
                    
                </div>
                <br>    
                <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br><br>
                    <div class="col">
                        <center>
                            <h5 >Langsung ngobrol dengan Darma yuk!</h5>
                            <a class="btn btn-pad btn-outline-info btn-lg" href="{% url 'chat' %}" type="">Ngobrol sini!</a>
                        </center>
                    <br>
                    <br>
                    <br>
                        <center>
                            <h5 >Mau tau lebih lanjut tentang Darma? </h5>
                            <a class="btn btn-pad btn-outline-info btn-lg" href="{% url 'about' %}" type="">Tentang Darma</a>
                        </center>
                    </div>
                
                
            </div>
            
        </div>
        
    </div>


{% endblock content %} 