{% extends 'base.html' %}
{% load static%}
{% block content %}

<style>
    .img {
        
        height:250px; 
        width:250px;
        margin-top: 50px;
        margin-left: 70px;
    }
</style>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="justi landing-page">
                    <h2><b><center>Selamat Datang!</center></b></h2>
                    <br> 
                    <center>
                    <h5>
                        Disini kamu bisa melakukan obrolan dengan Mas Darma seputar perkuliahan dimanapun dan kapanpun. Mas Darma 
                        menjawab pertanyaan-pertanyaanmu dengan bersumber dari macam-macam situs web resmi Universitas Gunadarma. 
                        Semoga Mas Darma bisa membantu menjawab kebingunganmu yaa!</h5>
                        
                        <img class="img" src="https://drive.google.com/uc?id=1BvMvkgaphrRaJDyNL4-_9wZK0zrxIjOb" >
                    </center>
                    <br>
                </div>

                <div class="row">
                    <div class="col">
                        <center>
                            <h5 >Langsung ngobrol dengan Mas Darma!</h5>
                            <a class="btn btn-pad btn-outline-info btn-lg" href="{% url 'chat' %}" type="">Ngobrol sini!</a>
                        </center>
                    </div>
                    <div class="col">
                        <center>
                            <h5 >Mau tau lebih lanjut tentang Mas Darma? </h5>
                            <a class="btn btn-pad btn-outline-info btn-lg" href="{% url 'about' %}" type="">Tentang Mas Darma</a>
                        </center>
                    </div>
                </div>
                </div>
            </div>
        </div>
        
    </div>


{% endblock content %} 