.bg-steel {
    background-image: linear-gradient(to bottom right,  #51c4d3, #b0efeb);
    -webkit-box-shadow:-1px 3px 10px #C9E4C5;
    -moz-box-shadow:-1px 3px 10px #C9E4C5;
    box-shadow:-1px 3px 10px #C9E4C5;
  }

  footer {
    padding: 12px ;
    margin-top: 6%;
  }
  
  .fa-heart {
      color: red;
  }

  body {
    /* background: #fafafa; */
    /* background-image: url("https://civitas-academica-files.s3-ap-southeast-1.amazonaws.com/background.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    letter-spacing: 1pt;
    margin-top: 4.5rem;
    
  }
  p.lead { 
    font-weight:600;
      
  }
  
  
  @font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }
  


  .logo {
    width: 40px;
    height: 40px;
  }


  h3.footer-link {
    color:white;
  }
  
  ul {
    margin: 0;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
.container-index {
  margin-left: auto;
  margin-right: 5%;
  padding-left: 0%;
  padding-right: 0%;
  overflow: hidden;
}

  .text-over {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
  }

  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .btn {
    border-width: 0px;
    border-radius: 40px;
    -webkit-box-shadow:-2px 4px 12px #EAEAEA;
    -moz-box-shadow:-2px 4px 12px #EAEAEA;
    box-shadow:-2px 4px 12px #EAEAEA;
  }




  a.footer-link {
    color: #ffffff;
    
  }
  
  a.footer-link :hover {
    color: #ffffff;
  }

  .landing-page {
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }


  .justi {
    text-align:justify;  
    text-justify:initial;
}

  .asteriskField {
    display: none;
  }

  .dropdown-toggle::after {
    content: none;
}

  
